<launch>
<!-- Start arm joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/arm.yaml" command="load"/>
    <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
 		head_controller
		neck_controller
		right_shoulder_controller
		left_shoulder_controller
		left_upper_controller
		left_lower_controller
		left_elbow_controller
		right_upper_controller
		right_lower_controller
		right_elbow_controller
                "
          output="screen"/>
          
  <!-- Start joints trajectory controller controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/joints_trajectory_controller.yaml" command="load"/>
    <node name="controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
                f_arm_controller
                head_controller
		neck_controller
		right_shoulder_controller
		left_shoulder_controller
		left_upper_controller
		left_lower_controller
		left_elbow_controller
		right_upper_controller
		right_lower_controller
		right_elbow_controller
               "
          output="screen"/>
</launch>
